# IMPORTING DEPENDENCIES

In [ ]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [ ]:
"""
project_dir = r"--------"
data_dir = "data"

def get_data(name):
  file_name = f"{name}.csv"
  file_path = os.path.join(project_dir,data_dir,file_name)
  return pd.read_csv(file_path)


flights = get_data("flight_price")
flights
"""

In [ ]:
flights = pd.read_csv("/content/flight_price.csv")
flights

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

# INITIAL ANALYSIS

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
flights.duplicated().sum()

220

In [ ]:
(
    flights
    .loc[flights.duplicated(keep=False)]
    .sort_values(["Airline","Date_of_Journey","Source","Destination","Dep_Time","Duration"])
)
# decided to drop all duplicates

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
...,...,...,...,...,...,...,...,...,...,...,...
2870,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
1535,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
3711,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
2634,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403
5470,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403


1.   Change datatype of "Datetime" features - Date_of_Journey, Dep_Time, Arrival_Time
2.   handle null values - Route, Total_Stops
3. feature Trasformation - Route,Duration,Total_Stops
4. handle duplicate values

## Detailed Analysis

In [ ]:
"""
1. Remove all the free spaces from all the columns
2. Rename all the columns by lower case
3. Clean airline column
4. chnage dtype to datetime of - Date_of_Journey, Dep_Time, Arrival_Time
.  we will drop the route column as its info already mentioned in source, destination and total stops.
.  source and destinations has all unique values so just need to do feature engg.
5. handling duration column
6. handling total stops column
7. handling additional info
"""

In [ ]:
#1. remove all extra spaces from all columns
(
    flights
    .assign(**{                                            # dictionery comprehension -- dict unpacking in python
        col: flights[col].str.strip()
        for col in flights.select_dtypes("object").columns # (include="O")
    })
)

In [ ]:
#2. Rename all the columns by lower case
(
    flights
    .rename(columns=str.lower)
)

In [ ]:
# 3.  START WITH AIRLINE COLUMN -
flights['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
# first we need to replace premium economy with "" and business with "".
# then we make all name as title - e.g: Air India
(
    flights
    .Airline
    .str.replace("Premium Economy","")
    .str.replace("Business","")
    .str.title()
)

In [ ]:
# 4. date_of_journey dtypes
(
      flights
      .assign
      (Date_of_Journey = lambda df_: pd.to_datetime(df_.Date_of_Journey, dayfirst= True))
)
# 4. Dep_Time dtypes
(
    flights
    .assign
    (Dep_Time = lambda df_: pd.to_datetime(df_.Dep_Time).dt.time)
)
# 4. Arrival_Time dtypes
(
    flights
    .assign
    (Arrival_Time = lambda df_: pd.to_datetime(df_.Arrival_Time).dt.time)
)

In [ ]:
# handling duration column
(
    flights
    .drop(index=[6474]) # .... this row dont have hours value only min value was there which throws error
    .Duration
    .str.split(" ",expand=True)
    .rename(columns={0:"hours",1:"mins"})
    .assign
     (
        hours = lambda df_: df_.hours.str.replace("h","").astype(int).mul(60), # multiply hrs to convert into mins
        mins = lambda df_: df_.mins.str.replace("m","").fillna("0").astype(int) # filling nan valur to zero so that it does not throw errot on dtype of "NaN"
     )
     .sum(axis=1)
     .rename("total_duration")
     .to_frame()
     .join(flights)
     .drop(columns="Duration")
)

In [ ]:
# to make this easy we will make function for duration conversion to mins

def duration_to_mins(ser):
  return (
    ser
    .str.split(" ",expand=True)
    .rename(columns={0:"hours",1:"mins"})
    .assign
     (
      hours = lambda df_: df_.hours.str.replace("h","").astype(int).mul(60), # multiply hrs to convert into mins
      mins = lambda df_: df_.mins.str.replace("m","").fillna("0").astype(int) # filling nan valur to zero so that it does not throw errot on dtype of "NaN"
     )
     .sum(axis=1)

    )

In [ ]:
# handling total stops column
(
    flights
    .Total_Stops
    .str.replace("non-stop","0")
    .str.replace("stops","")
    .str.replace("stop","")
    .fillna("0")
    .astype(int)
)
# other method
(
	flights
	.Total_Stops
	.replace("non-stop", "0")
	.str.replace(" stops?", "", regex=True) # " stop" " stops"
	.pipe(lambda ser: pd.to_numeric(ser))
)

In [ ]:
# handling additional info
flights.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
# just for now we will combine 2 same names together (spell mistake)
(
  flights
  .Additional_Info
  .str.replace("No info","No Info")
)

## CLEANING DATAFRAME

In [ ]:
def clean_data(df):
  # All cleaning operations
  return (
      df
      .drop(index=[6474])
		  .drop_duplicates()

      #1  ---------------
      .assign
        (**{
        col: df[col].str.strip()
        for col in df.select_dtypes("object").columns # (include="O")
        })

      #2  -------------
      .rename
      (columns=str.lower)

        #3  -------------
      .assign
      (
        airline = lambda df_: (
            df_
            .airline
            .str.replace("Premium Economy","")
            .str.replace("Business","")
            .str.title()
                              ),
      #4  -------------
      date_of_journey = lambda df_: pd.to_datetime(df_.date_of_journey, dayfirst= True),
      dep_time = lambda df_: pd.to_datetime(df_.dep_time).dt.time,
      arrival_time = lambda df_: pd.to_datetime(df_.arrival_time).dt.time,
      #5  -------------
      duration = lambda df_: df_.duration.pipe(duration_to_mins),
      #6  -------------
      total_stops = lambda df_:(
          df_.total_stops.str.replace("non-stop","0")
          .str.replace(" stops?", "", regex=True) # " stop" " stops"
          .fillna("0") # what if nan value and no stops consider same ????????????????? coz both assign zero.
          .astype(int)
                              ),
      #7  -------------
      additional_info = lambda df_: df_.additional_info.replace("No info", "No Info")
      )
      .drop(columns="route")
  )

In [ ]:
flights_cleaned = clean_data(flights)
flights_cleaned.head()

<ipython-input-120-a927975a871a>:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dep_time = lambda df_: pd.to_datetime(df_.dep_time).dt.time,
<ipython-input-120-a927975a871a>:32: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_time = lambda df_: pd.to_datetime(df_.arrival_time).dt.time,

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2,No Info,13882
3,Indigo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1,No Info,6218
4,Indigo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1,No Info,13302

# SPLITTING DATA

In [ ]:
flights_final = flights_cleaned.sample(1000)

In [ ]:
X = flights_final.drop(columns="price")
y = flights_final.price

In [ ]:
X_, X_test, y_, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_, y_, test_size=0.2, random_state=42)

print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(640, 9) (640,)
(160, 9) (160,)
(200, 9) (200,)

# EXPORTING DATA

In [ ]:
def export_data(X,y,name):
  file_name = f"{name}.csv"
  X.join(y).to_csv(file_name,index=False)
  return pd.read_csv(file_name).head()

In [ ]:
export_data(X_train,y_train,"train")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-06-15,Chennai,Kolkata,19:35:00,21:55:00,140,0,No Info,3597
1,Air India,2019-06-12,Delhi,Cochin,17:15:00,09:25:00,970,2,No Info,9417
2,Air India,2019-03-06,Delhi,Cochin,09:00:00,07:40:00,1360,1,No Info,14882
3,Jet Airways,2019-05-06,Kolkata,Banglore,20:25:00,18:00:00,1295,1,In-flight meal not included,9314
4,Jet Airways,2019-06-15,Delhi,Cochin,09:00:00,12:35:00,1655,1,In-flight meal not included,10262

In [ ]:
export_data(X_val,y_val,"val")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-06-18,Mumbai,Hyderabad,21:20:00,22:50:00,90,0,No Info,2227
1,Jet Airways,2019-05-06,Kolkata,Banglore,18:55:00,10:05:00,910,1,In-flight meal not included,7757
2,Jet Airways,2019-03-21,Banglore,New Delhi,07:00:00,13:15:00,375,1,In-flight meal not included,7832
3,Jet Airways,2019-06-27,Delhi,Cochin,11:45:00,12:35:00,1490,2,No Info,13882
4,Air Asia,2019-05-27,Delhi,Cochin,16:45:00,22:25:00,340,1,No Info,6752

In [ ]:
export_data(X_test,y_test,"test")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-18,Mumbai,Hyderabad,21:20:00,22:45:00,85,0,No Info,2227
1,Jet Airways,2019-03-27,Delhi,Cochin,06:20:00,18:50:00,750,2,No Info,11538
2,Air India,2019-06-06,Delhi,Cochin,10:55:00,19:15:00,500,2,No Info,11753
3,Indigo,2019-06-27,Delhi,Cochin,09:15:00,01:30:00,975,1,No Info,6628
4,Spicejet,2019-04-03,Kolkata,Banglore,15:05:00,20:20:00,315,1,No Info,4649